<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Menus</h3>

    <form (ngSubmit)="onSubmit()">
       <div class="form-group">
           <label>Tipo de Menu</label>
           <input type="text"
           class="form-control"
           id="tipoMenu"
           [(ngModel)]="menu.tipoMenu"
           name = "tipoMenu">
       </div>

       <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre de Menu</label>
            <input type="text"
            class="form-control"
            id="nombreMenu"
            [(ngModel)]="menu.nombreMenu"
            name = "nombreMenu">
        </div>

        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Precio del Menu</label>
                <input type="text"
                class="form-control"
                id="precioMenu"
                [(ngModel)]="menu.precioMenu"
                name = "precioMenu">
            </div>


       <button class="btn btn-success">Guardar</button>
    </form>

