<h3>Detalles del restaurante</h3>
<div>
    <label ><b>ID : </b> {{restaurante.id}}</label>
</div>
<div>
    <label ><b>Razon Social : </b> {{restaurante.razonSocial}}</label>
</div>
<div>
    <label ><b>Nombre Comercial	 : </b> {{restaurante.nombreComercial}}</label>
</div>
<div>
    <label ><b>Tipo de Restaurante : </b> {{restaurante.tipoRestaurante}}</label>
</div>
<div>
    <label ><b>Ciudad de Ubicacion : </b> {{restaurante.ciudadUbicacion}}</label>
</div>
<div>
    <label ><b>Hora de Apertura : </b> {{restaurante.horaApertura}}</label>
</div>
<div>
    <label ><b>Hora de Cierre : </b> {{restaurante.horaCierre}}</label>
</div>