<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Ingredientes</h3>

    <form (ngSubmit)="onSubmit()">
       <div class="form-group">
           <label>Nombre de ingrediente</label>
           <input type="text"
           class="form-control"
           id="tipoMenu"
           [(ngModel)]="ingrediente.nombre"
           name = "nombre">
       </div>

       <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>numero de calorias</label>
            <input type="text"
            class="form-control"
            id="nombreMenu"
            [(ngModel)]="ingrediente.calorias"
            name = "calorias">
        </div>

       <button class="btn btn-success">Guardar</button>
    </form>